:root {
    /* Color styles */
    --primary: #ffc85a;
    --black: black;
    --gray-800: #252525;
    --gray-600: #7b7b7b;
    --gray-400: #d4d4d4;
    --gray-200: #f7f7f7;
    --white: white;
    --blue:#38348A;

    /* Text-size styles */
    --fs-xs: 0.75rem;
    --fs-s: 0.875rem;
    --fs-md: 1rem;
    --fs-lg: 1.375rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2.1875rem;
    --fs-3xl: 2.625rem;
    --fs-4xl: 3.125rem;

    /* Font-family styles */
    --font-sans-serif: "Inter", sans-serif;
    --font-serif: "Playfair Display", serif;

    /* Espaces */
    --space1x: 3px;
    --space2x: 10px;
    --space3x: 40px;
    --space4x: 80px;
    --space5x: 60px;
}