.acceuilbtn {
background-color: black;
color :white;
display: flex;
height: 10vh;
justify-content: right;
padding-right: 50px;
}

.acceuilbtn2 {
    background-color: #38348A;
    color: white;
    display: flex;
    height: 10vh;
    justify-content: right;
    padding-right: 50px;
}
.acceuilbtnc {
    color : white;
    padding: 10px;
}